*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

canvas{
    position: absolute;
    background-color: navy;
    background-image: url("./../resource/image/background.jpg");
    display: block;
    margin: 0 auto;
    opacity: 1;
}

.trim{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 360px;
    height: 640px;
}

#character{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg);
    filter: saturate(1);
/*     キャラの大きさ定義 */
    width: 50px;
    height: 50px;
}

#scaffold{
    position: absolute;
    object-fit: none;
    z-index: 1;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg);
/*     足場の大きさ定義 */
    width: 150px;
    height: 20px;
}

#showScore{
    position: absolute;
    z-index: 10;
    color:white;
    font-weight: bold;
}

#sampleArea{
    position: absolute;
    bottom: 0;
    color:white;
}