*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

canvas{
    background-image: url("resource/background.jpg");
    display: block;
    margin: 0 auto; 
}

#character {
    position: absolute;
    top: 0px;
    left: 0px;
/*     キャラの大きさ定義 */
    width: 70px;
    height: 70px;
}